ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
.navigation {
	display: none;
}
.contact {
	display: none;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: #ffffff;
	@include desktop {
		width: 1600px;
		margin: 0 auto;
	}
}
* {
	margin: 0;
	padding: 0;
}
.container {
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@include tablet {
		min-width: 768px;
		max-width: 1200px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.menu-toggle {
		display: none !important;
	}
	.whatwedo {
		display: none !important;
	}
	.whatwedo--header {
		display: none !important;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	body {
		font-family: "Roboto", sans-serif;
		background-color: #ffffff;
	}
	* {
		margin: 0;
		padding: 0;
	}
}
@media screen and (min-width: 1200px) {
	.sections {
		padding-top: 94px;
		padding-bottom: 94px;
	}
	header {
		border-bottom: 1px solid var(--border-color-grey);
	}
	.menu-toggle {
		display: none !important;
	}
	.container {
		min-width: 1200px;
	}
}
@media screen and (max-width: 767px) {
	.navigation {
		display: none !important;
	}
	.contact {
		display: none !important;
	}
	.whatwedo {
		display: none !important;
	}
	.whatwedo--header {
		display: none !important;
	}
}
