.footer-effect {
	background-color: var(--background-color-black);
}
.footer-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 60px;
}
.address {
	display: flex;
	flex-direction: column;
	gap: 9px;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	&__box {
		display: flex;
		flex-direction: column;
		gap: 9px;
		&--contact {
			color: var(--contact-color-grey);
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.7;
			letter-spacing: 0.03em;
		}
		&--city {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			color: var(--text-color-white);
		}
	}
}
.footer__logo {
	font-family: Raleway;
	color: var(--text-color-white);
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	display: block;
	max-width: 145px;
	margin-left: 163px;
	&--blue {
		color: var(--text-color-blue);
		font-weight: 700;
		font-size: 26px;
		line-height: 1.2;
		text-decoration: none;
	}
}
.footer__socials {
	display: flex;
	flex-direction: row;
	gap: 9px;
	padding-left: 137px;
	&--box {
		display: flex;
		flex-direction: column;
	}
	&--join-us {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: center;
		color: var(--text-color-white);
		margin-bottom: 20px;
	}
	&--link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--footer-social-link-bg);
		fill: var(--icon-color-white);
		width: 44px;
		height: 44px;
		border-radius: 50px;
	}
}
.newsletter {
	margin: 60px 15px;
	&--text {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.16;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: center;
		color: var(--text-color-white);
		margin-bottom: 20px;
	}
	&__mail {
		&--input {
			padding: 15px 225px 15px 16px;
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 4px;
			box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
			background-color: var(--background-color-black);
			color: rgba(255, 255, 255, 0.6);
		}
	}
	&__button {
		margin-top: 20px;
		margin-left: 125px;
		padding-right: 28px;
		background-color: var(--background-color-blue);
		border-radius: 4px;
		border-color: var(--border-color-blue);
		display: flex;
		align-items: center;
		&--join {
			font-family: "Roboto";
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.8;
			letter-spacing: 0.06em;
			color: var(--text-color-white);
			padding: 10px 24px 10px 42px;
		}
		&--icon {
			fill: var(--icon-color-white);
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.footer-container {
		display: block;
	}
	.footer__logo {
		margin-left: 115px;
	}
	.address {
		display: inline-block;
		padding: 0;
		&__box {
			margin-left: 78px;
		}
	}
	.footer__socials {
		&--box {
			display: inline-block;
			margin-left: 144px;
			margin-top: 65px;
		}
		&--join--us {
			padding-left: 130px;
		}
	}
	.newsletter {
		display: inline-block;
		margin-left: 166px;
		padding-bottom: 0px;
	}
}
