.ourteam {
	display: flex;
	flex-direction: column;
	gap: 30px;
	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
		&__teammate {
			flex-basis: calc((100% - 30px) / 2);
		}
	}
	@include desktop {
		flex-wrap: nowrap;
		flex-direction: row;
	}
	&--header {
		color: var(--text-color-black);
		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: 0.03em;
		padding-bottom: 30px;
		padding-top: 60px;
	}
	&--box {
		background-color: var(--ourteam-background-grey);
		padding-bottom: 30px;
		padding-top: 30px;
		@include desktop {
			padding-bottom: 60px;
		}
	}
	&__teammate {
		box-shadow: 0px 4px 4px var(--box-shadow);
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		background-color: var(--teammate-background-white);
		&--name {
			font-weight: 500;
			font-size: 16px;
			line-height: 1.18;
			color: var(--text-color-black);
			letter-spacing: 0.03em;
			text-align: center;
			padding-top: 30px;
		}
		&--figcaption {
			padding-bottom: 24px;
		}
		&--job {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.18;
			color: var(--text-color-grey);
			letter-spacing: 0.03em;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 16px;
		}
	}
}

.social-links {
	display: flex;
	justify-content: center;
	fill: var(--icon-color-grey);
	padding-left: 0px;
	gap: 10px;
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		&:focus,
		&:hover {
			fill: white;
			background-color: var(--background-color-blue);
			transition: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}
